<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dessertbackend.mapper.DessertMapper">

    <select id="selectList" resultType="Dessert">
        SELECT id,image,name,category_id,price,description,create_time FROM dessert
        <where>
            <if test="categoryId != null and categoryId != ''">
                <if test="categoryId == 0 or categoryId == '0'">
                    AND category_id IS NULL
                </if>
                <if test="categoryId != 0 and categoryId != '0'">
                    AND category_id = #{categoryId}
                </if>
            </if>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="description != null and description != ''">
                AND description LIKE CONCAT('%',#{description},'%')
            </if>
            <if test="minPrice != null">
                AND price &gt;= #{minPrice}
            </if>
            <if test="maxPrice != null">
                AND price &lt;= #{maxPrice}
            </if>
        </where>
        ORDER BY create_time DESC
        LIMIT #{offset},#{size}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(*) FROM dessert
        <where>
            <if test="categoryId != null and categoryId != ''">
                <if test="categoryId == 0 or categoryId == '0'">
                    AND category_id IS NULL
                </if>
                <if test="categoryId != 0 and categoryId != '0'">
                    AND category_id = #{categoryId}
                </if>
            </if>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="description != null and description != ''">
                AND description LIKE CONCAT('%',#{description},'%')
            </if>
            <if test="minPrice != null">
                AND price &gt;= #{minPrice}
            </if>
            <if test="maxPrice != null">
                AND price &lt;= #{maxPrice}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="Dessert">
        INSERT INTO dessert(image,name,category_id,price,description)
        VALUES(#{image},#{name},#{categoryId},#{price},#{description})
    </insert>

    <update id="update" parameterType="Dessert">
        UPDATE dessert SET image=#{image},name=#{name},category_id=#{categoryId},price=#{price},description=#{description}
        WHERE id=#{id}
    </update>

    <delete id="deleteById">
        DELETE FROM dessert WHERE id=#{id}
    </delete>

    <delete id="batchDelete">
        DELETE FROM dessert WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateCategoryIdToNull">
        UPDATE dessert SET category_id = NULL WHERE category_id = #{categoryId}
    </update>
</mapper>